.table-panel, .form-panel, .show-panel {
    background: $light;
    color: $dark;
    padding: 1em 1em;
    margin: 1em;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
}
.search-row {
    margin-bottom: 1em
}

.star-rating {
    .fa-star {
        cursor: pointer;
        margin: 10px;
        transition: color 300ms;
        font-size: 30px;
    }

    input[type="radio"] {
        display: none;
    }
}

