body {
    background: $dark;
    color: $light;
}

html, body {
    height: 100%
}

.btn-white {
    background: $light;
    color: $dark;
}

.form-group.required .control-label:after { 
    content:"*";
    color: $secondary;
 }